@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(210, 36%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: #8758ff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  width: fit-content;
  background: white;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 80%;
  color: #8758ff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  height: fit-content;
  margin-bottom: 12px;
  background: #8758ff;
  border-radius: 10px;
  color: #fff;
  border: none;
  padding:14px 0.55rem;
  cursor: pointer;
}

.empty {
  width: 40%;
  color: transparent;
  padding: 0.75rem 1rem;
  margin-top: 3rem;
}
.todoDate{
  font-size: small;
}
.flasmessages {
  width: 40%;
  text-align: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-top: 3rem;
}
.flasmessagedeleted {
  width: 40%;
  text-align: center;
  background: rgb(245, 49, 49);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-top: 3rem;
}
.Todo {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
  
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 
@media (max-width:370px) {
  .Todo{
    display: grid;
    gap: 0.7rem;
    justify-content: center;
  }
  .TodoForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .TodoWrapper{
    width: 80%;
  }
  .todo-input {
    width: 150px;
  }

}

@media (min-width:371px) and (max-width:800px) {
  .TodoWrapper{
    width: 80%;
  }

}

@media (min-width:801px) {
  .TodoWrapper{
    width: 650px;
  }

}